header{
    
    text-align: center;

}
section{
    margin: auto;
    text-align: center;
    width: 400px;
    /* display: flex; */
    /* gap: 30px; */
}
ul{
    display: flex;
    gap:10px;
    flex-wrap: wrap;
}