<<<<<<< HEAD
header{
    background-color: skyblue;
    height:50px;
}
section{
    background-color: slateblue;
    width:70%;
    height:200px;
    float:left;
}
aside{
    background-color: lime;
    height: 200px;
    width:30%;
    float: right;

}
footer{
    background-color: salmon;
    height: 50px;
    clear: both;
}


=======
header{
    background-color: skyblue;
    height:50px;
}
section{
    background-color: slateblue;
    width:70%;
    height:200px;
    float:left;
}
aside{
    background-color: lime;
    height: 200px;
    width:30%;
    float: right;

}
footer{
    background-color: salmon;
    height: 50px;
    clear: both;
}


>>>>>>> 9a90d68d7dd280c6eb2ddb8593ddd444feff7f3f
