<<<<<<< HEAD
<<<<<<< HEAD
p{
    color:royalblue
=======
p{
    color:royalblue
>>>>>>> babce9a (firstcommit)
=======
p{
    color:royalblue
=======
p{
    color:royalblue
>>>>>>> 9a90d68d7dd280c6eb2ddb8593ddd444feff7f3f
>>>>>>> 9d22ddcacca86d0d5872f6bf9bc92ef19dc977c3
}