<<<<<<< HEAD


div{
    padding-bottom: 10px;
}
label{
    background-color: lightgray;

    width: 80px;
    height: 50px;
}

.flex-title{
    display: flex;
    width: 1000px;
    height: 30px;
}
.flex-text{
    text-align: center;

    display: flex;
    width: 1000px;
    height: 200px;
=======


div{
    padding-bottom: 10px;
}
label{
    background-color: lightgray;

    width: 80px;
    height: 50px;
}

.flex-title{
    display: flex;
    width: 1000px;
    height: 30px;
}
.flex-text{
    text-align: center;

    display: flex;
    width: 1000px;
    height: 200px;
>>>>>>> babce9a (firstcommit)
}