<<<<<<< HEAD
<<<<<<< HEAD


div{
    padding-bottom: 10px;
}
label{
    background-color: lightgray;

    width: 80px;
    height: 50px;
}

.flex-title{
    display: flex;
    width: 1000px;
    height: 30px;
}
.flex-text{
    text-align: center;

    display: flex;
    width: 1000px;
    height: 200px;
=======


div{
    padding-bottom: 10px;
}
label{
    background-color: lightgray;

    width: 80px;
    height: 50px;
}

.flex-title{
    display: flex;
    width: 1000px;
    height: 30px;
}
.flex-text{
    text-align: center;

    display: flex;
    width: 1000px;
    height: 200px;
>>>>>>> 9d22ddcacca86d0d5872f6bf9bc92ef19dc977c3
=======


div{
    padding-bottom: 10px;
}
label{
    background-color: lightgray;

    width: 80px;
    height: 50px;
}

.flex-title{
    display: flex;
    width: 1000px;
    height: 30px;
}
.flex-text{
    text-align: center;

    display: flex;
    width: 1000px;
    height: 200px;
<<<<<<< HEAD
>>>>>>> babce9a (firstcommit)
=======
>>>>>>> 9a90d68d7dd280c6eb2ddb8593ddd444feff7f3f
>>>>>>> 9d22ddcacca86d0d5872f6bf9bc92ef19dc977c3
}